//.overlay::before {
//    content: "";
//    position: absolute;
//    background-color: #00000066;
//    top: 0;
//    right: 0;
//    width: 100%;
//    height: 100%;
//}

/*.overlay::after {*/
/*    content: "“Хонед, омӯзед ва рушд ёбед” – тавассути ин китобхонаи электронӣ.";*/
/*    color: white;*/
/*    position: absolute;*/
/*    text-align: center;*/
/*    top: 30%;*/
/*    right: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    font-size: 1.2rem;*/
/*}*/

.search-btn {
    border-radius: 7px;
    color: white;
    border: 3px solid white;
    background-color: transparent;
}

.search-btn:active {
    box-shadow: inset 0 0 30px -3px rgba(50, 50, 50, 0.75);
}

.search-btn:focus {
    outline: none
}


/*@media only screen and (min-width: 300px) {*/
/*    .overlay::after {*/
/*        top: 20% !important;*/
/*        font-size: 1rem !important;*/
/*    }*/
/*}*/

//@media only screen and (min-width: 400px) {
//    .overlay::after {
//        top: 50% !important;
//        font-size: 1.5rem !important;
//    }
//}
//
//@media only screen and (min-width: 500px) {
//    .overlay::after {
//        top: 40% !important;
//        font-size: 1.7rem !important;
//    }
//}
//
//@media only screen and (min-width: 680px) {
//    .overlay::after {
//        top: 50% !important;
//        font-size: 2rem !important;
//    }
//}
//
//@media only screen and (min-width: 768px) {
//    .overlay::after {
//        font-size: 1.8rem !important;
//        /*top: 80% !important;*/
//    }
//}

.main-page-banner-container::after {
    position: absolute;
    content: '';
    background-color: $info;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 768px) {
    .main-page-banner-container::after {
        height: 50%;
    }
}
