html, body {
    height: 100%;
    width: 100%;
    background: #f8f8f8;
}

.search-box {
    position: relative;

    .search-icon {
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: gray;

        &:hover {
            cursor: pointer;
            color: $info;
        }
    }
}
