html, body {
    height: 100%;
    width: 100%;
    background: #f8f8f8;
}

.search-box {
    position: relative;

    .search-icon {
        position: absolute;
        right: 5%;
        bottom: calc(50% - 6px);
        color: gray;

        &:hover {
            cursor: pointer;
            color: $info;
        }
    }
}

@media screen and(max-width: 768px){
    .search-icon{
        bottom: calc(50% - 9px) !important;
    }
}
