.shadow-light {
    box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132);
}

.btn-transparent {
    background: transparent;
    outline: none;
    border: none;
}

.bg-akf-favourite {
    background: $info;
}

.text-akf-favourite {
    color: $info;
}

.text-always-akf-favourite {
    color: $info;

    &:hover {
        color: $info
    }
}
